@charset "UTF-8";
body {
  background: url("img/library.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
}

.wrapper {
  width: 96%;
  margin: 0 auto;
  padding: 40px 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

.wrapper .theme {
  float: left;
  width: 45%;
}

.wrapper .theme h1 {
  color: #DDDDDD;
  font-size: 56px;
}

.wrapper .theme p {
  margin-top: 15px;
  color: #DDDDDD;
}

.wrapper .theme p q {
  font-style: italic;
  font-size: 30px;
  color: #DDDDDD;
}

.wrapper .theme #add-new-book {
  margin: 15px 0;
  padding: 12px 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  width: 200px;
  background-color: #DDDDDD;
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 15px 3px #414741;
          box-shadow: 0px 0px 15px 3px #414741;
  cursor: pointer;
}

.wrapper .theme #search {
  margin: 15px 0;
  padding: 12px 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  width: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #DDDDDD;
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 15px 3px #414741;
          box-shadow: 0px 0px 15px 3px #414741;
}

.wrapper .books-container {
  float: right;
  width: 54%;
  height: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
}

.wrapper .books-container .display-added-book {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  height: 150px;
  border: solid 1px #DDDDDD;
  border-radius: 15px;
  padding: 15px;
  margin-top: 30px;
  margin-right: 3.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #DDDDDD;
  opacity: 0.9;
  color: black;
}

.wrapper .books-container .display-added-book p {
  font-weight: bold;
  padding: 3px 0;
}

.wrapper .books-container .display-added-book p span {
  font-weight: normal;
}

.wrapper .books-container .display-added-book .delete {
  color: white;
  background-color: black;
  border: none;
  margin-left: 20px;
  border-radius: 3px;
}

.wrapper .books-container .display-added-book:nth-child(3n) {
  margin-right: 0;
}

.wrapper:after {
  content: "";
  display: block;
  clear: both;
}

.wrapper .input-form {
  width: 400px;
  height: 540px;
  border: 1px #DDDDDD solid;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #DDDDDD;
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.61);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.61);
  display: none;
  padding: 32px;
}

.wrapper .input-form .close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.wrapper .input-form ul {
  margin-top: 30px;
}

.wrapper .input-form ul > li {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.wrapper .input-form button, .wrapper .input-form label, .wrapper .input-form input {
  display: block;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}

.wrapper .input-form label {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.wrapper .input-form input {
  -webkit-box-shadow: inset 1px 1px 3px #ccc;
          box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 5px;
}

.wrapper .input-form input:hover, .wrapper .input-form input:focus {
  background-color: #eee;
}

.wrapper .input-form input + span {
  position: relative;
}

.wrapper .input-form input:required + span::after {
  font-size: 0.7rem;
  position: absolute;
  content: "required";
  color: white;
  background-color: black;
  padding: 5px 10px;
  top: -30px;
  left: -70px;
}

.wrapper .input-form input + span::before {
  position: absolute;
  right: -20px;
  top: 5px;
}

.wrapper .input-form input:invalid {
  border: 1px solid red;
}

.wrapper .input-form input:invalid + span::before {
  content: '✖';
  color: red;
}

.wrapper .input-form input:valid + span::before {
  content: '✓';
  color: green;
}

.wrapper .input-form button {
  width: 60%;
  height: auto;
  display: block;
  margin: 10px auto;
  font-size: 22px;
  font-weight: bold;
  padding: 8px 4px;
  border: solid 2px black;
  border-radius: 5px;
}

.wrapper .input-form #submit:hover {
  border: solid 2px green;
  background-color: green;
}

.wrapper .input-form #cancel:hover {
  border: solid 2px red;
  background-color: red;
}

.wrapper .input-form .read-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .input-form .read-container #read-label, .wrapper .input-form .read-container #read {
  display: inline-block;
  width: 50px;
  margin: 0;
  padding: 2px 6px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .input-form .read-container #read {
  margin-left: 10px;
}
/*# sourceMappingURL=styles.css.map */